LIST

In [4]:
#daily temperature collected from sensors

daily_temp=[32.5,33.4,32.2,36.1,35,35.4,34.1]
temp=[38.2,36,9]

print(f'Average Temperature:{(sum(daily_temp)/len(daily_temp))}')
#concatenate
print(daily_temp+temp)

print(daily_temp[4]) #accessing the index value

print(daily_temp[-5:-1]) #slicing

print(daily_temp[:3])

daily_temp[0]=32.7
print(daily_temp)

#append
daily_temp.append(36.2)
print(daily_temp)

#insert
daily_temp.insert(4,33.7)
print(daily_temp)

#remove
daily_temp.remove(36.2)
print(daily_temp)

#sort
daily_temp.sort()
print(daily_temp)

#delete
del(daily_temp[1])
print(daily_temp)

#pop
daily_temp.pop(5)
print(daily_temp)

Average Temperature:34.1
[32.5, 33.4, 32.2, 36.1, 35, 35.4, 34.1, 38.2, 36, 9]
35
[32.2, 36.1, 35, 35.4]
[32.5, 33.4, 32.2]
[32.7, 33.4, 32.2, 36.1, 35, 35.4, 34.1]
[32.7, 33.4, 32.2, 36.1, 35, 35.4, 34.1, 36.2]
[32.7, 33.4, 32.2, 36.1, 33.7, 35, 35.4, 34.1, 36.2]
[32.7, 33.4, 32.2, 36.1, 33.7, 35, 35.4, 34.1]
[32.2, 32.7, 33.4, 33.7, 34.1, 35, 35.4, 36.1]
[32.2, 33.4, 33.7, 34.1, 35, 35.4, 36.1]
[32.2, 33.4, 33.7, 34.1, 35, 36.1]

TUPLE (NO modifications CAN BE PERFORM ON THIS, IT IS UNEDITABLE, BUT WE CAN DO ACCESSING AND SLICING, add two tuples)

In [19]:
daily_temp=(32.5,33.4,32.2,36.1,35,35.4,34.1)
temp=(38.2,36,9)
#append
#daily_temp.append(36.2)
#print(daily_temp) # thorughs error
print(daily_temp[4]) #accessing the index value
print(daily_temp[-5:-1]) #slicing
print(daily_temp+temp)

print(daily_temp*2)
print(daily_temp.index(32.5))
temp_list=list(daily_temp)# converting tuple to list
print(temp_list)

temp_list=tuple(daily_temp)# converting list to tuple
print(temp_list)

35
(32.2, 36.1, 35, 35.4)
(32.5, 33.4, 32.2, 36.1, 35, 35.4, 34.1, 38.2, 36, 9)
(32.5, 33.4, 32.2, 36.1, 35, 35.4, 34.1, 32.5, 33.4, 32.2, 36.1, 35, 35.4, 34.1)
0
[32.5, 33.4, 32.2, 36.1, 35, 35.4, 34.1]
(32.5, 33.4, 32.2, 36.1, 35, 35.4, 34.1)

DICTIONARY (created only in curly brackets, done in key value pai, keys should be unique, values can be duplicated, key and value have index no same.

In [43]:
#weather data

weather={
    'Monday':32.5,
    'Tuesday':35.6,
    'Wednesday':37.5,
    'Thursday':33.4
}

print(weather)

print(weather['Wednesday'])

print(weather.get('Friday', 'Not available'))  #helps in avoiding error if we want to access something is not there in data

print(weather.get('Thursday', 'Not available'))
print(weather.get('Thursday'))


weather['Sunday']= 35.3  #adding new key value pair
print(weather)

weather['Sunday']= 36.1  #updating
print(weather)

books={
    'Siddhartha':'Hermann Hesse',
    'Animal Farm':'George Orwell',
    'Dracula':'Bram Stoker',
    'Emma':'Jane Austen',
    'Beloved':'Toni Morrison',
    'Inferno':'Dante Alighieri'
}
print(books)

#pop function

weather.pop('Tuesday')
print(weather)

print('Monday' in weather)
print('Monday' not in weather) #boolean

w_new=weather.copy()   #copying the whole dictianary to another dictanory
print(w_new)

{'Monday': 32.5, 'Tuesday': 35.6, 'Wednesday': 37.5, 'Thursday': 33.4}
37.5
Not available
33.4
33.4
{'Monday': 32.5, 'Tuesday': 35.6, 'Wednesday': 37.5, 'Thursday': 33.4, 'Sunday': 35.3}
{'Monday': 32.5, 'Tuesday': 35.6, 'Wednesday': 37.5, 'Thursday': 33.4, 'Sunday': 36.1}
{'Siddhartha': 'Hermann Hesse', 'Animal Farm': 'George Orwell', 'Dracula': 'Bram Stoker', 'Emma': 'Jane Austen', 'Beloved': 'Toni Morrison', 'Inferno': 'Dante Alighieri'}
{'Monday': 32.5, 'Wednesday': 37.5, 'Thursday': 33.4, 'Sunday': 36.1}
True
False
{'Monday': 32.5, 'Wednesday': 37.5, 'Thursday': 33.4, 'Sunday': 36.1}

SET (also created in curly brackets but not in key value pair, helps to avoid duplicate value, lists have duplicate but not in sets,dict keys no duplicate but values can be,, in sets unorder format but not in list , dic,, all 3 are mutable, list- need in sequence manner, sets- data in unique manner)

In [63]:
daily_temp={32.5,33.4,32.2,36.1,35,35.4,34.1,32.5,34.1,32,36.1,32.2}
print(daily_temp)

daily_temp.add(37.0)
print(daily_temp)

#daily_temp.remove(37.1) # gives error because not present in data
#print(daily_temp)

daily_temp.discard(37.1) # this function doesnot give error if value in not present in data  (no error because it is designed to handle the missing elemenents in the sets,(exceptional handling behaviour)) 
print(daily_temp)

daily={32.5,33.4,32.2,36.1,35,35.4,34.1,32.5,34.1,32,36.1,32.2}
print(daily)
daily.clear() #showing set is present but no value
print(daily)

#del daily #shows not defined  (deleteing complete set)
#print(daily)

{32.5, 33.4, 32.2, 35, 36.1, 35.4, 34.1, 32}
{32.5, 33.4, 32.2, 35, 36.1, 35.4, 34.1, 32, 37.0}
{32.5, 33.4, 32.2, 35, 36.1, 35.4, 34.1, 32, 37.0}
{32.5, 33.4, 32.2, 35, 36.1, 35.4, 34.1, 32}
set()

NameError: name 'daily' is not defined

In [73]:
set1={1,3,4,5,6}
set2={3,7,2,4,9}

print(set1 | set2)  #union

print(set1 & set2)  #intersection

print(set1 - set2)  #substraction
print(set2 - set1)  #substraction

setb=set1.copy()   #copying a set
print(setb)

{1, 2, 3, 4, 5, 6, 7, 9}
{3, 4}
{1, 5, 6}
{9, 2, 7}
{1, 3, 4, 5, 6}

In [75]:
set1=[1,3,4,5,6]
set2=[3,7,2,4,9]

common=set(set1) & set(set2)    #here we areb using list and converting it into set by using set function and performing intersection
print(common)

{3, 4}

In [77]:
set1=[1,3,4,5,6]
set2=[3,4]

missing= set(set1) - set(set2)   
print(missing)

{1, 5, 6}